@model WineProdTools.Data.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Membership", FormMethod.Post, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
            </li>
            <li>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
            </li>
            <li>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </li>
        </ol>
        <input type="submit" value="Change password" class="btn btn-primary" />
    </fieldset>
}