@model WineProdTools.Data.LoginModel

@using (Html.BeginForm("JsonLogin", "Membership", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", id = "loginName", @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </li>
            <li>
                <input type="submit" class="btn" value="Log in" />
            </li>
        </ol>
        @Html.ValidationSummary() 
    </fieldset>
}