@model WineProdTools.Models.RegisterModel

@using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.TextBoxFor(m => m.UserName, new { id = "registerName", @class = "form-control", placeholder = "User Name"})
            </li>
            <li>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </li>
            <li>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </li>
            <li>
                <input type="submit" value="Sign up" class="btn"/>
            </li>
        </ol>
        @Html.ValidationSummary()
    </fieldset>
}